Repository dsherli/PRessureApp: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, ruff, prettier

isort:
  name: isort (python)
  entry: isort
  language: system

black:
  name: black (python)
  entry: black
  language: system

ruff:
  name: ruff (lint/fix)
  entry: ruff check --fix
  language: system

prettier:
  name: prettier (frontend)
  entry: npx prettier --write
  language: system

Example env made, readme updated for back and front end
  README.md
  app/backend/.env.example
  app/backend/README.md
  app/frontend/.env.example
  app/frontend/README.md
Due: prettier

Created basic choices (gender, units, etc.) and basic datamodels (Exercise, Workout, SetEntry, etc.) then made migrations
  app/backend/core/__init__.py
  app/backend/core/choices.py
  app/backend/users/migrations/0002_user_gender_user_preferred_units_and_more.py
  app/backend/users/models.py
  app/backend/workouts/migrations/0001_initial.py
  app/backend/workouts/models.py
Due: isort, black, ruff

Normalize line endings via .gitattributes, added tests
  .gitattributes
  app/backend/core/choices.py
  app/backend/users/models.py
  app/backend/workouts/migrations/0001_initial.py
  app/backend/workouts/models.py
  app/backend/workouts/tests.py
Due: isort, black, ruff

Apply Python formatters (isort/black/ruff) and add migration
  app/backend/workouts/migrations/0002_workout_owner.py
Due: isort, black, ruff

Fixed settings.py
  .vscode/settings.json
Due: prettier

Added seeding, factories, admin
  .vscode/settings.json
  README.md
  app/backend/README.md
  app/backend/users/admin.py
  app/backend/users/factories.py
  app/backend/users/migrations/0003_alter_user_gender_alter_user_preferred_units.py
  app/backend/workouts/admin.py
  app/backend/workouts/factories.py
  app/backend/workouts/management/commands/seed_admin.py
Due: isort, black, ruff, prettier

Added auth (session + CSRF) for CSRF, login, me, and protected POST
  app/backend/README.md
  app/backend/api/settings/base.py
  app/backend/users/urls.py
  app/backend/users/views.py
  app/backend/workouts/urls.py
  app/backend/workouts/views.py
Due: isort, black, ruff, prettier

updated gitignore to not include .vscode
  .gitignore
Due: none

Delete .vscode directory
  .vscode/settings.json
Due: prettier

Added views, APIs for WorkoutSession, WorkoutTemplate, WorkoutSet, tests for APIs, and serializers for APIs.
  app/backend/api/settings/development.py
  app/backend/conftest.py
  app/backend/users/tests.py
  app/backend/users/tests/test_auth.py
  app/backend/workouts/serializers.py
  app/backend/workouts/tests/test_models.py
  app/backend/workouts/tests/test_workouts_api.py
  app/backend/workouts/urls.py
  app/backend/workouts/views.py
  pytest.ini
Due: isort, black, ruff

Ran pre-commit hooks, added files for frontend shell, created basic Shell component
  app/backend/conftest.py
  app/backend/workouts/tests/test_workouts_api.py
  app/frontend/package-lock.json
  app/frontend/package.json
  app/frontend/src/App.jsx
  app/frontend/src/components/AppRoutes.jsx
  app/frontend/src/components/Shell.jsx
  app/frontend/src/main.jsx
  app/frontend/src/pages/Dashboard.jsx
  app/frontend/src/pages/History.jsx
  app/frontend/src/pages/Login.jsx
  app/frontend/src/pages/Profile.jsx
  app/frontend/src/pages/Workout.jsx
Due: isort, black, ruff, prettier

Approutes work, changed color scheme to brutalist
  app/frontend/src/App.jsx
  app/frontend/src/components/AppRoutes.jsx
  app/frontend/src/components/Shell.jsx
  app/frontend/src/pages/Dashboard.jsx
  app/frontend/src/pages/History.jsx
  app/frontend/src/pages/Login.jsx
  app/frontend/src/pages/Profile.jsx
  app/frontend/src/pages/Workout.jsx
Due: prettier

Created login and register pages (adjust styles), registration is functional
  app/frontend/src/App.jsx
  app/frontend/src/components/AppRoutes.jsx
  app/frontend/src/components/Shell.jsx
  app/frontend/src/pages/Login.jsx
  app/frontend/src/pages/Register.jsx
Due: prettier

login flow is working, api calls work, data retrieved from db
  app/frontend/src/pages/Login.jsx
  app/frontend/src/pages/Register.jsx
Due: prettier

Fixed styles in login and registration, edited shell to meet use cases
  app/frontend/package-lock.json
  app/frontend/package.json
  app/frontend/src/components/Shell.jsx
  app/frontend/src/pages/Dashboard.jsx
  app/frontend/src/pages/Login.jsx
  app/frontend/src/pages/Register.jsx
Due: prettier

Recreated dashboards to fit desktop browsers, styles redone
  app/backend/requirements.txt
  app/frontend/package-lock.json
  app/frontend/package.json
  app/frontend/src/App.css
  app/frontend/src/components/Shell.jsx
  app/frontend/src/index.css
  app/frontend/src/pages/Dashboard.jsx
  app/frontend/src/pages/History.jsx
  app/frontend/src/pages/Login.jsx
  app/frontend/src/pages/Profile.jsx
  app/frontend/src/pages/Register.jsx
  app/frontend/src/pages/Workout.jsx
Due: prettier

Removed requirements from root
  requirements.txt
Due: none

Add preview section with screenshots to README
  README.md
Due: prettier

Deleted sections that don't fit the use case of the app
  app/frontend/src/pages/History.jsx
  app/frontend/src/pages/Profile.jsx
Due: prettier

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  ruff: any of: \.py$
  prettier: any of: \.(js|jsx|ts|tsx|json|css|scss|md|html|yaml|yml)$
